#page {
	width: 76%;
	margin: 0 auto;
}

header h1 {
	text-decoration: underline;
}

article {
	border-radius: 4px;
	border: 2px solid #111;
	margin-top: 15px;
}

article div {
	padding-left: 20px;
	padding-right: 20px;
}

article div p {
	max-width: 80%;
}

article h2 {
	padding: 15px 30px 15px 30px;
	margin-top: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/*background-attachment: fixed;*/
	border-bottom: 1px solid grey;
	/*filter: opacity(30%);
  	-webkit-filter: opacity(30%);*/
}

article#preg1 h2 {
	background-image: url("db_im1.jpeg");
  	color: white;
}

article#preg2 h2 {
	background-image: url("db_im2.jpg");
}

article#preg3 h2 {
	background-image: url("db_im3.jpg");
	background-size: cover;
	background-position: left top;
	color: white;
}

article#preg4 h2 {
	background-image: url("db_im5.png");
	background-size: contain;
	background-position: 90% center;
}

article#preg5 h2 {
	background-image: url("db_im4.jpg");
}

article#preg5 h2 span{
	color: white;
	background-color: #7ad8ef;
}
