body, body * {
	margin: 0;
	padding: 0;

	/* Debug System */
	/*
	color:                 hsla(210, 100%, 100%, 0.88) !important;
	background:            hsla(210, 100%, 50%,  0.33) !important;
	outline: 0.25rem solid hsla(210, 100%, 100%, 0.50) !important;
	/**/
	/*border: 2px dashed black;*/
}

html {
  scroll-behavior: smooth;
}

main {
	margin: 0 auto;
	box-shadow: 0px 0px 20px 15px #ccc;
	width: 87%;
}

footer {
	background-color: #455a64;
	color: white;
	padding: 30px;
}

/* Chapter */

.chapter {
	position: relative;
	height: 100vh;
	width: 100%;


	background-color: #ec407a;
	border-bottom: 2px dashed black;
}

#ch-0 .cover-menu {
	background-color: #fff9c4;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: 25px;
	padding-left: 50px;
	padding-bottom: 100px;
	width: 33%;
	min-height: 280px; 
}
#ch-0 .cover-menu li {
	margin-top: 15px;
	margin-bottom: 15px;

	font-size: 18px;
	font-weight: bold;
}
#ch-0 .cover-menu a {
	color: black;
	font-size: 24px;
	font-weight: bold;
}

#ch-0 .cover-title {
	color: #fefefe;

	right: 120px;
	top: 120px;

	font-size: 56px;

	position: absolute;
}


.ch-caption {
	position: absolute;
	background-color: #fff9c4;

	font-size: 16px;
	font-weight: bold;
	text-align: center;

	border-radius: 0px 0px 25px 0px;

	padding: 20px;

	min-width: 500px;
}

.ch-img {
	background-repeat: no-repeat;
	background-size: cover;
}

.ch-img-full {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ch-img-small {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70%;
}

/* Dialog Styles */

.ch-dialog {
	position: absolute;

	background-color: white;

	bottom: 0;
	left: 0;

	padding: 0 20px 0 20px;

	width: 100%;
	height: 30%;
}

.ch-dialog p {
	margin: 30px;
	font-size: 24px;
	max-width: 60%;
}

/* Project Description */
.project-description {
	position: absolute;
	top: 100px;
	left: 40px;
	width: 70%;
	height: 70%;
	background-color: red;
}

.proj-name {
	position: absolute;
	background-color: white;

	padding-left: 20px;
	top: -40px;
	left: 0;

	width: 40%;
	height: 40px;
}

.proj-front-img {

}

.proj-contents-holder {
	position: relative;
}

.proj-content {
	position: absolute;
	visibility: hidden;
}

.proj-sub-title {

}

.proj-sub-description {

}

/* References Links */

#references-container {
	
}




#ch-1 .ch-img {
	background-image: url("assets/r_cbuilding.jpg");
}

#ch-2 .ch-img, #ch-3 .ch-img, #ch-6 .ch-img {
	background-image: url("assets/floor_room.jpg");	
	background-position: 0px -150px;
}

#ch-3-secretary {
	position: absolute;
	bottom: -70px;
	right: 20px;
	background-image: url("assets/secretario.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	width: 300px;
	height: 300px;	
}

#ch-3-boss {
	position: absolute;
	bottom: 0;
	left: 0;
	background-image: url("assets/boss.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 300px;
	height: 300px;	
}