
		html {
			min-height: 100%;
		}

		body {
			/*height: 100vh;*/
			/*background-color: #282828;*/
			background-image: linear-gradient(#383737, black);
		}

		a {
			font-style: none;
			text-decoration: none;
		}

		h1 {
			text-align: center;
			color: #e83535;
			font-weight: bold;
			font-size: 72px;
			margin-bottom: 0;
		}
		h2 {
			margin-top: 0;
			text-align: center;
			color: #f9f9f9;
			/*font-weight: bold;*/
			font-size: 36px;
		}

		form {
			margin: 0 auto;
			text-align: center;
			display: inline-block;
		}
		.form-group {
			margin-top: 5px;
			margin-bottom: 5px;
		}
		input[type='submit'] {
			width: 100%;
		}

		table {
			margin: 0 auto;
			font-size: 24px;
		}

		caption {
			border: 1px solid black;
			color: #e83535;
			font-weight: bold;
		}

		td {
			border: 1px solid black;
		}

		#talleres-container {
			margin-top: 56px;

		}

		.taller-card {
			background-color: white;
			border-radius: 15px;
			min-width: 256px;
			min-height: 196px;
			display: inline-block;
			margin-left: 20px;
			margin-right: 20px;
			margin-top: 10px;
			margin-bottom: 10px;

			position: relative;

			opacity: 0;
			overflow: hidden;
		}
		.taller-card.active {
			opacity: 1;
		}
		.taller-card:hover {
			cursor: pointer;
		}

		.taller-card a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 5;
		}

		.image-card {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 15px;
			background-image: url("conf.png");
			background-size: cover;
			filter: brightness(0.9);

		}

		.taller-card:hover .header-card {
			height: 160px;
		}

		.header-card {
			color: #f9f9f9;
			background-color: rgba(0,0,0,0.6);

			padding-left: 10px;
			position: absolute;
			height: 60px;
			transition: height 1s;
			left: 0;
			right: 0;
			bottom: 0;
		}

		/*#taller-1 {
			transition: opacity 1s;
		}

		#taller-2 {
			transition: opacity 1s 0.5s;
		}
		#taller-3 {
			transition: opacity 1s 1s;
		}
		#taller-4 {
			transition: opacity 1s 1.5s;
		}
		#taller-5 {
			transition: opacity 1s 2s;
		}
		#taller-6 {
			transition: opacity 1s 2.5s;
		}
		#taller-7 {
			transition: opacity 1s 3s;
		}*/


		#web-container {
			background-color: #f9f9f9;
			margin-top: 110px;
			height: 100vh;
			text-align: center;
		}

		#new-btn {
			text-align: center;
			color: white;
			font-size: 36px;
			font-weight: bold;
			background-color: #e83535;
			border-radius: 50%;
			width: 48px;
			height: 48px;
			position: fixed;
			right: 32px;
			bottom: 32px;
		}
		#new-btn:hover {
			cursor: pointer;
			background-color: #f89595
		}