* {
			padding: 0;
			margin: 0;
		}

		body {
			background-color: #222;
		}

		#container {
			height: 100vh;
			margin: 0 auto;
			width: 84%;
			
		}

		#site {

		}

		.pregunta-sec {
			margin-top: 15px
		}

		.preg-name {
			font-weight: bold;
			display: block;
		}

		header {
			background-color: aqua;
			height: 60px;
		}

		aside {
			background-color: aqua;
			height: 100%;
		}

		main {
			background-color: #fef;
		}

		footer {
			background-color: green;
		}

		ul, ol {
			padding-left: 15px;
		}