* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #222;
}

#container {
	height: 100vh;
	margin: 0 auto;
	width: 84%;
	
}

#site {

}

.pregunta-sec {
	margin-top: 15px
}

.preg-name {
	font-weight: bold;
	display: block;
}

header {
	background-color: aqua;
	height: 60px;
}

aside {
	background-color: aqua;
	height: 100%;
}

main {
	
}

section {
	border-radius: 15px solid;
	border: 2px solid black;
	margin-top: 20px;
	padding: 10px;
	background-color: #fefefe;
}

footer {
	background-color: green;
}

ul, ol {
	padding-left: 15px;
}

h2 {
	margin-bottom: 10px;
	text-decoration: underline;
}