/* Tutorial 1 */

.lab1-position-el {
	position: relative;
	border: 2px dashed black;
	width: 70%;
	height: 60px;
	margin-bottom: 10px;
	padding: 0;
}

.lab1-corner {
	padding: 0;
	margin: 0;
}

#topleft-corner {
	position: absolute;
	top: 0;
	left: 0;

	background-color: blue;
	color: white;
}

#bottomleft-corner {
	position: absolute;
	bottom: 0;
	left: 0;

	background-color: red;
	color: white;
}

#right-icon {
	position: absolute;

	top: 0;
	bottom: 0;
	right: 0;
	width: 100px;

	background-color: yellow;
}

#reltoabs {
	display: inline-block;
	position: relative;
	padding: 0;
	margin: 0;
	left: 0;
}

/* Tutorial 2 */
#ej2-arial {
	font-family: Arial, sans-serif;
	font-size: 1em;
}
#ej2-times {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.4em;
}


/* Tutorial 3 */

#ej3-fantasma {
	background: #4f43a0;
	padding: 15px;
	margin: 10px;
	color: white;
	font-weight: bold;
	visibility: hidden;
}













