header {
	margin-bottom: 20px;
}

#brand {
	color: black;
	margin-left: 60px;
	font-family: 'Libre Baskerville', serif;
	font-size: 4em;
	font-weight: bold;
}

#brand span {
	color: blue;
}
#brand a {
	text-decoration: none;
	color: black;
}
#brand a:hover {
	text-decoration: none;
}

#map-container {
	position: relative;
}

#map-container #map-frame {
	z-index: 5;

	position: absolute;
	top: 0;
	left: 12px;
}

.parada-marker {
	background-color: white;
	transition: background-color .4s;
	border-radius: 50%;
	width: 32px;
	height: 32px;

	position: absolute;
	top: 125px;
	left: 320px;

	box-shadow: 2px 1px 2px black;
}
.parada-marker:hover {
	background-color: yellow;
	cursor: pointer;
}
.parada-marker.p-selected {
	background-color: red;
}

img {
	border: 2px dashed grey;
	padding: 1px;
	width: 80%;
	height: auto;
}

#info-container h2 {
	text-align: center;
}

#schedule-container #head-table {
	margin-bottom: 0;
}

#schedule-body {
	max-height: 300px;
	overflow: scroll;
}

#schedule-body table tr:nth-child(even) i {
	color: #a00b0b;
}

#schedule-body table tr:nth-child(odd) i {
	color: #0aa02d;
}

.curr-time {
	background-color: #e3f9e8;
}

footer {
	margin-top: 50px;
}